<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Blog</title>
    <!-- Add Bootstrap CSS if not already included in your head partial -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <%- include('./partials/nav') %>

    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title"><%= blog.title %></h1>
                <img src="<%= blog.coverImageURL %>" class="img-fluid mx-auto d-block" style="width: 80%;" alt="Blog Cover Image" />

                <p class="mt-4"><%= blog.body %></p>
            </div>
        </div>
    </div>

    <div class="container mt-3 mb-5">
        <div class="d-flex align-items-center border p-2">
            Created By: 
            <img src="  <%= blog.createdBy.profileImageURL %>" class="rounded-circle " width="50px" alt="Author Image" />
            <span><%= blog.createdBy.fullName %></span>
        </div>
    </div>

    <% if (locals.user) { %>
        <div class="container mt-1">
            <div class="card">
                <div class="card-header">
                    <h4>Leave a Comment</h4>
                </div>
                <div class="card-body">
                    <form action="/blog/comment/<%= blog._id %>" method="post">
                        <div class="form-group">
                            <label for="comment">Comments <%= comments.length %></label>
                            <textarea name="content" class="form-control" rows="4" placeholder="Enter your comment here"></textarea>
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    <% } %>

    <div class="container mt-3">
        <% comments.forEach(comment => { %>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-2">
                        <img src="<%= comment.createdBy.profileImageURL %>" class="rounded-circle mr-2" width="50px" alt="Commenter Image" />
                        <span><%= comment.createdBy.fullName %></span>
                    </div>
                    <pre class="mb-0"><%= comment.content %></pre>
                </div>
            </div>
        <% }) %>
    </div>

    <%- include('./partials/script') %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
